@import 'editable-datagrid';

.prop {
    width: 175px;
}

.prop-val {
    width: 150px;
}

.unknown-props-datagrid {
    ::ng-deep {
        .datagrid {
            overflow-x: hidden;
        }
    }
}