@import 'editable-datagrid';

.grid-container {
    margin-top: .75rem;
    padding-right: .5rem;

    .title {
        text-transform: uppercase;
    }

    .unknown-props-datagrid {
        height: 250px;
    }

    .prop {
        width: 175px;
    }

    .prop-val {
        width: 150px;
    }
}



.unknown-props-datagrid {
    ::ng-deep {
        .datagrid {
            overflow-x: hidden;
        }
    }
}