<div class="grid-container">
	<h6 class="title">Unknown Properties</h6>
	<clr-datagrid class="datagrid-compact unknown-props-datagrid"
			[(clrDgSelected)]="selected"
			(clrDgSelectedChange)="selectionChanged($event)">

		<clr-dg-column class="prop">Property</clr-dg-column>
		<clr-dg-column class="prop-val">Value</clr-dg-column>

		<clr-dg-row *clrDgItems="let prop of unknownPropArray; let i = index; trackBy: indexTrackBy" [clrDgItem]="prop">
			<clr-dg-cell class="ellipsis"
					[ngClass]="{'editing': editing[i][0]}"
					[attr.data-title]="unknownPropCopy[i]"
                    (click)="startEditing(i, 0)">
				<editable-cell [(value)]="unknownPropCopy[i]"
					(editingChange)="updatePropertyName(i, $event)"
					[(editing)]="editing[i][0]">
				</editable-cell>
			</clr-dg-cell>
			<clr-dg-cell class="ellipsis"
					[ngClass]="{'editing': editing[i][1]}"
					[attr.data-title]="unknownProperties[prop].default"
                    (click)="startEditing(i, 1)">
				<editable-cell [(value)]="unknownProperties[prop].default"
					(editingChange)="editedPropertyValue(unknownProperties[prop], $event)"
					[(editing)]="editing[i][1]">
				</editable-cell>
			</clr-dg-cell>
		</clr-dg-row>

		<clr-dg-footer>{{ unknownPropArray.length }} Unknown Properties</clr-dg-footer>
	</clr-datagrid>
	<button class="btn btn-outline" (click)="addProperty()">Add Property</button>
</div>
