.top-content {
    padding: 0 .5rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 6rem);

    ::ng-deep {
        .clr-control-container {
            width: calc(100% - 5rem);

            input {
                width: 100%;
            }
        }
    }

    .directory-select-btn {
        margin-top: -1.2rem;
        right: 0px;
        width: 4.25rem;
        position: absolute;
    }

    .first-checkbox-block {
        margin-top: .5rem;
        padding-left: .5rem;
    }

    .inline-char-input {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-flow: nowrap;
        margin-bottom: 2px;
        margin-left: 1.5rem;

        label {
            padding: 0;
            min-width: 20px;
            cursor: default;
            font-size: 13px;
            overflow: visible;
            color: var(--clr-p1-color, #666666);
            margin-top: .15rem;
        }

        ::ng-deep {
            input {
                width: 20px;
                border: .05rem solid var(--clr-forms-border-color, #b3b3b3);
            }
        }
    }
}

footer {
    padding: 0.5em 0.5em .75em 0.5em;
    display: flex;

    .btn-container {
        flex-grow: 1;

        .btn {
            margin-right: .25rem;
            float: right;
        }

        .spacer {
            margin-right: 1rem;
        }
    }
}