<div class="main-wrapper">
    <div class="content-wrapper">
        <div class="top-content clr-form clr-form-vertical">
            <clr-input-container>
                <label>Home Directory ("Load Files" will start from here)</label>
                <input clrInput placeholder="Choose a directory" [(ngModel)]="config.homeDir" />
            </clr-input-container>
            <button class="btn btn-primary btn-sm directory-select-btn" (click)="browseDirectory('homeDir')">Browse</button>
            <clr-input-container>
                <label>Artist Logos Directory</label>
                <input clrInput placeholder="Choose a directory" [(ngModel)]="config.artistLogoDir" />
            </clr-input-container>
            <button class="btn btn-primary btn-sm directory-select-btn" (click)="browseDirectory('artistLogoDir')">Browse</button>
            <clr-input-container>
                <label>Label Logos Directory</label>
                <input clrInput placeholder="Choose a directory" [(ngModel)]="config.labelLogoDir" />
            </clr-input-container>
            <button class="btn btn-primary btn-sm directory-select-btn" (click)="browseDirectory('labelLogoDir')">Browse</button>
            <clr-input-container>
                <label>Fanart.tv API Key</label>
                <input clrInput placeholder="Enter API Key" [(ngModel)]="config.fanartApiKey" />
            </clr-input-container>

            <h4>Tagging Options</h4>
            <clr-checkbox-container class="first-checkbox-block">
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox [(ngModel)]="config.replaceUnicodeApostrophe" (ngModelChange)="clearCaches()" />
                    <label>Replace Unicode Apostrophes/Single-Quotes</label>
                </clr-checkbox-wrapper>
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox [(ngModel)]="config.replaceUnicodeQuotes" (ngModelChange)="clearCaches()" />
                    <label>Replace Unicode Double-Quotes</label>
                </clr-checkbox-wrapper>
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox [(ngModel)]="config.replaceUnicodeEllipsis" (ngModelChange)="clearCaches()" />
                    <label>Replace Unicode Ellipsis</label>
                </clr-checkbox-wrapper>
            </clr-checkbox-container>

            <ng-container *ngIf="config.replacementFileNameChars">
                <h4>Replacement for Unusable Filename Characters</h4>
                <div class="clr-row">
                    <clr-input-container class="inline-char-input">
                        <label>\</label>
                        <input clrInput [(ngModel)]="config.replacementFileNameChars['\\']" maxlength="1" />
                    </clr-input-container>
                    <clr-input-container class="inline-char-input">
                        <label>/</label>
                        <input clrInput [(ngModel)]="config.replacementFileNameChars['/']" maxlength="1" />
                    </clr-input-container>
                    <clr-input-container class="inline-char-input">
                        <label>?</label>
                        <input clrInput [(ngModel)]="config.replacementFileNameChars['?']" maxlength="1" />
                    </clr-input-container>
                    <clr-input-container class="inline-char-input">
                        <label>:</label>
                        <input clrInput [(ngModel)]="config.replacementFileNameChars[':']" maxlength="1" />
                    </clr-input-container>
                    <clr-input-container class="inline-char-input">
                        <label>*</label>
                        <input clrInput [(ngModel)]="config.replacementFileNameChars['*']" maxlength="1" />
                    </clr-input-container>
                    <clr-input-container class="inline-char-input">
                        <label>"</label>
                        <input clrInput [(ngModel)]="config.replacementFileNameChars[doubleQuotes]" maxlength="1" />
                    </clr-input-container>
                    <clr-input-container class="inline-char-input">
                        <label>&lt;</label>
                        <input clrInput [(ngModel)]="config.replacementFileNameChars['<']" maxlength="1" />
                    </clr-input-container>
                    <clr-input-container class="inline-char-input">
                        <label>&gt;</label>
                        <input clrInput [(ngModel)]="config.replacementFileNameChars['>']" maxlength="1" />
                    </clr-input-container>
                    <clr-input-container class="inline-char-input">
                        <label>|</label>
                        <input clrInput [(ngModel)]="config.replacementFileNameChars['|']" maxlength="1" />
                    </clr-input-container>
                </div>
            </ng-container>

            <clr-input-container>
                <label>Album Art Downloader path</label>
                <input clrInput placeholder="Path to AlbumArt.exe" [(ngModel)]="config.aadPath" />
            </clr-input-container>
            <button class="btn btn-primary btn-sm directory-select-btn" (click)="browseFile('aadPath')">Browse</button>
            <clr-input-container>
                <label>AAD Command string</label>
                <input clrInput placeholder="Command-line parameters to pass to Album Art Downloader"
                    [(ngModel)]="config.aadParams" />
            </clr-input-container>
            <button class="btn btn-primary btn-sm directory-select-btn" (click)="suggestValue('aadParams')">Suggest</button>

        </div>
    </div>
    <footer>
        <div class="btn-container">
            <button class="btn btn-primary" (click)="saveConfig()" [disabled]="saveDisabled()">Save</button>
            <button class="btn btn-outline" [routerLink]="'/'">Back</button>
            <button class="btn btn-outline spacer" (click)="reloadConfig()">Restore</button>
        </div>
    </footer>
</div>