<div class="main-wrapper">
    <div class="content-wrapper">
        <div class="top-content clr-form clr-form-vertical">
            <clr-input-container>
                <label>Home Directory ("Load Files" will start from here)</label>
                <input clrInput placeholder="Choose a directory" [(ngModel)]="config.homeDir" />
            </clr-input-container>
            <button class="btn btn-primary btn-sm directory-select-btn" (click)="browseDirectory('homeDir')">Browse</button>
            <clr-input-container>
                <label>Artist Logos Directory</label>
                <input clrInput placeholder="Choose a directory" [(ngModel)]="config.artistLogoDir" />
            </clr-input-container>
            <button class="btn btn-primary btn-sm directory-select-btn" (click)="browseDirectory('artistLogoDir')">Browse</button>
            <clr-input-container>
                <label>Label Logos Directory</label>
                <input clrInput placeholder="Choose a directory" [(ngModel)]="config.labelLogoDir" />
            </clr-input-container>
            <button class="btn btn-primary btn-sm directory-select-btn" (click)="browseDirectory('labelLogoDir')">Browse</button>
            <clr-input-container>
                <label>Fanart.tv API Key</label>
                <input clrInput placeholder="Enter API Key" [(ngModel)]="config.fanartApiKey" />
            </clr-input-container>

            <h4>Tagging Options</h4>
            <clr-checkbox-container class="first-checkbox-block">
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox [(ngModel)]="config.replaceUnicodeApostrophe" (ngModelChange)="clearCaches()" />
                    <label>Replace Unicode Apostrophes/Single-Quotes</label>
                </clr-checkbox-wrapper>
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox [(ngModel)]="config.replaceUnicodeQuotes" (ngModelChange)="clearCaches()" />
                    <label>Replace Unicode Double-Quotes</label>
                </clr-checkbox-wrapper>
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox [(ngModel)]="config.replaceUnicodeEllipsis" (ngModelChange)="clearCaches()" />
                    <label>Replace Unicode Ellipsis</label>
                </clr-checkbox-wrapper>
            </clr-checkbox-container>
        </div>
    </div>
    <footer>
        <div class="btn-container">
            <button class="btn btn-primary" (click)="saveConfig()" [disabled]="saveDisabled()">Save</button>
            <button class="btn btn-outline" [routerLink]="'/'">Back</button>
        </div>
    </footer>
</div>