.top-content {
    padding: 0 .5rem;
    overflow-y: auto;
    height: calc(100vh - 6rem);

    ::ng-deep {
        .clr-control-container {
            width: calc(100% - 5rem);

            input {
                width: 100%;
            }
        }
    }

    .directory-select-btn {
        margin-top: -1.2rem;
        right: 0px;
        width: 4.25rem;
        position: absolute;
    }
}

footer {
    padding: 0.5em 0.5em .75em 0.5em;
    display: flex;

    .btn-container {
        flex-grow: 1;

        .btn {
            margin-right: .25rem;
            float: right;
        }
    }
}