<div class="main-wrapper">
    <div #popOverContainer
            class="pop-over"
            [ngClass]="{'hide': !popoverImage}"
            (keyup)="keypressed($event)"
            (blur)="popoverImage = null"
            tabindex="0">
        <img [src]="popoverImage?.url" class="logo-img">
        <clr-icon class="close-icon" shape="close" size="30" (click)="popoverImage = null"></clr-icon>
    </div>
    <div class="content-wrapper">
        <div class="top-content">
            <div class="clr-row">
                <h3 class="clr-col-12 logo-header">HD Logos</h3>
                <div class="img-container clr-col-4" *ngFor="let logo of artistData?.hdmusiclogos; let i = index">
                    <button class="btn btn-outline btn-img"
                            [ngClass]="{'btn-selected': logo.save }"
                            (mouseenter)="mouseEnter(i, false)"
                            (mouseleave)="mouseLeave()"
                            (click)="logoButtonClicked(logo)">
                        <img [src]="logo.url" class="logo-img">
                        <clr-icon shape="zoom-in" size="18" class="zoom" (click)="zoom($event, i)"></clr-icon>
                    </button>
                </div>
                <h4 class="clr-col-12" *ngIf="!artistData?.hdmusiclogos?.length">
                    No HD Music Logos found for this artist.
                </h4>
            </div>
            <div class="clr-row">
                <h3 class="clr-col-12 logo-header">
                    CD Art
                    <clr-toggle-container class="header-checkbox">
                        <clr-toggle-wrapper>
                            <input type="checkbox" clrToggle required [(ngModel)]="multiDisc" />
                            <label>Allow Multi-Disc</label>
                        </clr-toggle-wrapper>
                      </clr-toggle-container>
                </h3>
                <div class="img-container clr-col-4" *ngFor="let cdart of albumData?.album.cdart; let i = index">
                    <button class="btn btn-outline btn-img"
                            [ngClass]="{'btn-selected': cdart.saveIndex > 0 }"
                            (mouseenter)="mouseEnter(i + numLogos)"
                            (mouseleave)="mouseLeave()"
                            (click)="discButtonClicked(i)">
                        <img [src]="cdart.url" class="cdart-img">
                        <clr-icon shape="zoom-in" size="18" class="zoom" (click)="zoom($event, i + numLogos)"></clr-icon>
                    </button>
                    <div class="disc-index">
                        Disc: {{ cdart.disc }}
                    </div>
                    <div class="selected-index">
                        {{ cdArtFilename(cdart.saveIndex) }}
                    </div>
                </div>
                <h4 class="clr-col-12" *ngIf="!albumData?.album?.cdart.length">
                    No cdArt found for this album.
                </h4>
            </div>
        </div>
    </div>
    <footer>
        <div class="btn-container">
            <button class="btn btn-primary" (click)="saveSelected()" [disabled]="isSaveDisabled()">Save</button>
            <button class="btn btn-outline" [routerLink]="'/'">Back</button>
        </div>
    </footer>
</div>