.top-content {
    padding: 0 .5rem;
    overflow-y: auto;
}

.img-container {
    .btn-img {
        height: auto;
        padding: 0;
        margin-right: 0;

        .logo-img {
            width: 100%;
        }
    }
}

footer {
    padding: 0.5em 0.5em .75em 0.5em;
    display: flex;

    .btn-container {
        flex-grow: 1;

        .btn {
            margin-right: .25rem;
            float: right;
        }
    }
}