@import 'editable-datagrid';

$trackColWidth: 48px;

.grid-container {
	clr-datagrid {
		height: 300px;
	}

	::ng-deep .datagrid {
		clr-dg-cell.tracknum,
		clr-dg-column.tracknum {
			max-width: $trackColWidth;
			min-width: $trackColWidth;
			width: $trackColWidth !important;
			text-align: center;

			&.editing {
				padding: 0px;
			}

			input[type=text] {
				width: 100%;
				min-width: 50px;
				padding: 0;
				height: calc(1rem - 1px);
				text-align: center;
				margin-left: -1px;
			}
		}
	}
}
