<div class="grid-container">
	<clr-datagrid class="datagrid-compact" [(clrDgSelected)]="selected" (clrDgSelectedChange)="selectionChanged($event)">

		<clr-dg-column>File Name</clr-dg-column>
		<clr-dg-column>
			<ng-container *clrDgHideableColumn="{hidden: !showArtist}">
				Track Artist
			</ng-container>
		</clr-dg-column>
		<clr-dg-column>Title</clr-dg-column>
		<clr-dg-column class="tracknum">Track#</clr-dg-column>

		<clr-dg-row *clrDgItems="let track of tracks; let i = index" [clrDgItem]="track">
			<clr-dg-cell class="ellipsis"
					[ngClass]="{'editing': editing[i][0]}"
					[attr.data-title]="track.meta.filename"
					(click)="startEditing(i, 0)">
				<editable-cell [(value)]="track.meta.filename"
					[(editing)]="editing[i][0]"
					[dontSelect]="4">
				</editable-cell>
			</clr-dg-cell>
			<clr-dg-cell class="ellipsis"
					[ngClass]="{'editing': editing[i][1]}"
					[attr.data-title]="metadata.artist.values[i]"
					(click)="startEditing(i, 1)">
				<editable-cell [(value)]="metadata.artist.values[i]"
					[(editing)]="editing[i][1]">
				</editable-cell>
			</clr-dg-cell>
			<clr-dg-cell class="ellipsis"
					[ngClass]="{'editing': editing[i][2]}"
					[attr.data-title]="metadata.title.values[i]"
					(click)="startEditing(i, 2)">
				<editable-cell [(value)]="metadata.title.values[i]"
					[(editing)]="editing[i][2]">
				</editable-cell>
			</clr-dg-cell>
			<clr-dg-cell class="tracknum"
					[ngClass]="{'editing': editing[i][3]}"
					[attr.data-title]="metadata.trackNumber.values[i]"
					(click)="startEditing(i, 3)">
				<editable-cell [(value)]="metadata.trackNumber.values[i]"
					[(editing)]="editing[i][3]">
				</editable-cell>
			</clr-dg-cell>
		</clr-dg-row>

		<clr-dg-footer>{{ tracks.length }} tracks</clr-dg-footer>
	</clr-datagrid>

	<!-- {{ tracks[0].meta.filename }} -->
	<!-- Selected tracks: <span *ngFor="let track of selected">{{ track.trackNumber }}, </span> -->
</div>
