@import 'editable-datagrid';

$trackColWidth: 48px;
$gridHeight: 310px;

.loading-spinner-container {
	height: $gridHeight;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border: 1px solid lightgrey;
}

.grid-container {
	clr-datagrid {
		height: $gridHeight;
	}

	::ng-deep .datagrid {
		// the tooltip
		clr-dg-cell[data-title]:before {
			white-space: pre;
		}

		clr-dg-cell.tracknum,
		clr-dg-column.tracknum {
			max-width: $trackColWidth;
			min-width: $trackColWidth;
			width: $trackColWidth !important;
			text-align: center;

			&.editing {
				padding: 0px;
			}

			input[type=text] {
				width: 100%;
				min-width: 50px;
				padding: 0;
				height: calc(1rem - 1px);
				text-align: center;
				margin-left: -1px;
			}
		}
	}
}

#grid-right-click-menu {
	position: absolute;
	z-index: 1000;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 3px;
	padding: 5px;
	display: none;
	max-width: fit-content;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);

	&.show-menu {
		display: block;
	}

	.menu-item {
		padding: 5px 10px;
		cursor: pointer;
		display: flex;
		flex: 0 0 auto;

		&:hover {
			background-color: var(--clr-global-selection-color, #d8e3e9);
		}
	}
}