<div class="left-wrapper">
	<div class="input-block clr-col-12">
		<input-field label="Artist:"
			[(value)]="metadata.artist"
			(showConflicts)="showConflict(metadata.artist, 'Artist')"
			[labelStyle]="{ 'max-width': '80px', 'min-width': '80px' }">
		</input-field>
		<input-field label="Album:"
			[(value)]="metadata.album"
			(showConflicts)="showConflict(metadata.album, 'Album')"
			[labelStyle]="{ 'max-width': '80px', 'min-width': '80px' }">
		</input-field>
	</div>
	<metadata-handler></metadata-handler>
	<div class="input-block clr-col-12">
		<clr-input-container class="string-input">
			<label>Delete String:</label>
			<input clrInput [(ngModel)]="deleteString" (ngModelChange)="updateDeleteString($event)" />
		</clr-input-container>
		<clr-input-container class="string-input find">
			<label>Find:</label>
			<input clrInput [(ngModel)]="findString" (ngModelChange)="updateFindReplaceVals()" />
		</clr-input-container>
		<clr-input-container class="string-input replace">
			<label>Replace String:</label>
			<input clrInput [(ngModel)]="replaceString" (ngModelChange)="updateFindReplaceVals()" />
		</clr-input-container>
	</div>
	<clr-checkbox-container class="options-block">
		<clr-checkbox-wrapper>
			<input type="checkbox" clrCheckbox
				id="doTitleCaseToggle"
				[(ngModel)]="doTitleCase"
				(ngModelChange)="updateDoTitleCase($event)">
			<label>Title case titles when guessing</label>
		</clr-checkbox-wrapper>
	</clr-checkbox-container>

	<clr-checkbox-container class="options-block">
		<clr-checkbox-wrapper>
			<input type="checkbox" clrCheckbox
				name="showArtistToggle"
				id="showArtistToggle"
				[(ngModel)]="showArtist"
				(ngModelChange)="showArtistChanged($event)">
			<label>Toggle Track Artists</label>
		</clr-checkbox-wrapper>
	</clr-checkbox-container>
</div>

<conflict-modal
	*ngIf="showModal"
	[(field)]="conflictProperty"
	[displayName]="conflictDisplayName"
	[readOnly]="conflictReadOnly"
	[(showModal)]="showModal">
</conflict-modal>