.input-wrapper {
    clr-checkbox {
        display: inline-block;

        label {
            padding: 0;
            min-width: 100px;
        }
    }

    .data-field {
        display: inline-block;
    }
}