@import 'variables.scss';

$image-max-size: 325px;

.artwork-tab {
    padding-left: .5rem;

    .title {
        margin-top: .4rem;
        text-transform: uppercase;
    }

    .image-wrapper {
        margin-left: 1rem;
        position: relative;
        display: inline-block;

        &.cleared:before {
            content: "";
            position: absolute;
            left: 0;
            width: $image-max-size;
            top: 0; bottom: 0;
            background: rgba(0,0,0,.35);
        }

        .dimensions,
        .zoom {
            position: absolute;
            left: 0.5px;
            top: 0.5px;
            padding: 0 .25rem;
            background: black;
            color: white;
        }

        .zoom {
            right: 1px;
            left: unset;
        }
    }
    #cover-art {
        width: auto;
        height: $image-max-size;
        max-height: $image-max-size;
        border: 1px solid rgba(0,0,0,.2);
    }

    .first-checkbox-block {
        margin-top: 0rem;
    }

    .load-image-btn {
        margin: 0 0 .25rem -.25rem;
    }

    .local-art-container {
        max-height: 3.5rem;
        overflow-y: scroll;
        width: calc(100% - 5px);

        .artwork-list {
            margin: 0 0 0 1rem;
            li {
                font-size: .65rem;
                line-height: 1rem;
            }
        }
    }
}

.pop-over {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: $headerHeight;
    left: 0;
    padding: 0.25rem;
    text-align: center;
    width: 100%;
    z-index: 1000;

    .close-icon {
        background: white;
        position: absolute;
        right: 4px;
        top: 4px;
    }

    &.hide {
        display: none;
    }

    img {
        max-width: 800px;
    }
}