.input-field {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: nowrap;
    margin-bottom: 2px;
    padding-right: .25rem;

    label {
        padding: 0;
        margin-right: .5rem;
        cursor: default;
        font-size: 13px;
        overflow: visible;

        clr-icon {
            margin: -2px -1px 0 -2px;
            cursor: pointer;
        }
    }

    &.sm-input ::ng-deep .clr-control-container {
        input {
            width: 4rem;
            max-width: 4rem;
        }
    }

    ::ng-deep {
        clr-input-container.clr-form-control,
        clr-select-container.clr-form-control {
            margin-top: 0;
            flex-grow: 1;
        }

        .clr-control-container {
            width: 100%;

            .clr-input-wrapper {
                display: flex;

                .clr-input {
                    padding: 0 1px 0 3px;
                    flex-grow: 1;
                }
            }
            .clr-select-wrapper {
                width: 100%;

                select {
                    width: 100%;
                }
            }
        }
    }
}

.release-group-container {
    display: inline-flex;
    .clear-btn {
        margin-left: .5rem;
    }
}

.search-btn,
.clear-btn {
    margin-top: 0;
}

#releases-datagrid {
    .artist {
        min-width: 5.4rem;
    }
    .num-tracks {
        width: 4.5rem;
        min-width: 4.5rem;
    }
    .date {
        width: 5rem;
        min-width: 5rem;
    }
    .media {
        width: 6rem;
        min-width: 6rem;
    }
    .edition {
        color: #999;
        font-style: italic;
    }

    clr-dg-cell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    clr-dg-column,
    clr-dg-cell {
        max-width: 450px;
    }
}

#release-datagrid {
    width: 100%;

    .track-num {
        width: 4rem;
        min-width: 4rem;
    }
    .artist {
        // width: 5.2rem;
        min-width: 5.4rem;
    }
    .time {
        min-width: 3rem;
        width: 3rem;
    }
    clr-dg-cell.time {
        text-align: right;
    }

    .added {
        background-color: #e6ffe6;
        text-decoration: underline;
        font-weight: 600;
    }
    .removed {
        background-color: #ffe6e6;
        text-decoration: line-through;
    }
    .notfound {
        background-color: #f4f4f4;
        color: #888888;
    }
}

.release-block {
    margin-top: 1rem;
    padding-left: .75rem;

    .input-field {
        width: 100%;

        label {
            width: 4.75rem;
            &.wide-label {
                width: 5.5rem;
            }
        }

        ::ng-deep {
            .small.clr-input {
                width: 100px;
                flex-grow: 0;
                &.date {
                    width: 92px; // space for button
                }
            }
            .xsmall.clr-input {
                width: 30px;
                flex-grow: 0;
                margin-left: -8px;
            }
        }
    }

    .guesscase.clarity-icon {
        // overrides guesscase class from styles.scss
        background-image: none;
        padding-right: 4.25rem;
        clr-icon {
            margin-top: -8px;
        }
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 88vh;
    max-height: 88vh;
    // overflow-y: scroll; // should never overflow y

    .top-content {
        flex-shrink: 1;
    }

    .selected-release {
        display: inline-flex;
        overflow: hidden;
        margin-bottom: -10px;
    }

}

footer {
    padding: 0.5em 0.5em .75em 0.5em;
    display: flex;

    .btn-container {
        flex-grow: 1;

        .btn {
            margin-right: .25rem;
            float: right;
        }
    }
}