<div class="main-wrapper">
    <div class="content-wrapper">
        <div class="top-content">
            <div class="clr-row clr-justify-content-between">
                <ng-container *ngIf="releaseGroup; else noReleaseGroup">
                    <div class="clr-col-10 release-group-container">
                        <div class="input-field clr-col-5">
                            <label>MB RGID:</label>
                            <input clrInput [(ngModel)]="releaseGroup" (keyup.enter)="requestMetadata()" />
                        </div>
                        <button class="btn btn-outline btn-sm clear-btn" (click)="releaseGroup = ''">Clear</button>
                    </div>
                </ng-container>
                <ng-template #noReleaseGroup>
                    <div class="input-field clr-col-4">
                        <label>Artist:</label>
                        <input clrInput [(ngModel)]="artist" (keyup.enter)="requestMetadata()" />
                    </div>
                    <div class="input-field clr-col-4">
                        <label>Album:</label>
                        <input clrInput [(ngModel)]="album" (keyup.enter)="requestMetadata()" />
                    </div>
                    <div class="input-field clr-col-2 sm-input">
                        <label>Date:</label>
                        <input clrInput [(ngModel)]="date" (keyup.enter)="requestMetadata()" />
                    </div>
                </ng-template>
                <button class="btn btn-sm btn-primary search-btn" (click)="requestMetadata()">
                    <clr-icon shape="search"></clr-icon> Search
                </button>
            </div>
            <div class="clr-row">
                <clr-checkbox-wrapper class="clr-col-3">
                    <input type="checkbox" clrCheckbox [(ngModel)]="fuzzySearch" />
                    <label>Use fuzzy search</label>
                </clr-checkbox-wrapper>
                <button class="btn btn-sm btn-outline search-btn" (click)="clearCache()">
                    Clear Cache
                </button>
            </div>
            <clr-datagrid id="releases-datagrid" class="datagrid-compact" *ngIf="!fetchingReleases">
                <clr-dg-column [clrDgField]="'artistString'" class="artist">Artist Credit</clr-dg-column>
                <clr-dg-column [clrDgField]="'title'">Title</clr-dg-column>
                <clr-dg-column [clrDgField]="'labelInfo.label.0.label.name'">Release</clr-dg-column>
                <clr-dg-column [clrDgField]="'date'" class="date">Date</clr-dg-column>
                <clr-dg-column [clrDgField]="'media.0.format'" class="media">Media</clr-dg-column>
                <clr-dg-column [clrDgField]="'trackCount'" class="num-tracks"># Tracks</clr-dg-column>

                <clr-dg-row *clrDgItems="let release of releases" (click)="getReleaseInfo(release)">
                    <clr-dg-cell class="artist">{{ release.artistString }}</clr-dg-cell>
                    <clr-dg-cell>
                        {{ release.title }}
                        <span class="edition">
                            {{ release.disambiguation ? ' [' + release.disambiguation + ']' : ''}}
                        </span>
                    </clr-dg-cell>
                    <clr-dg-cell>{{ release.labelInfo ? release.labelInfo.label[0]?.name : '' }}
                        {{ release.labelInfo.label[0]?.catalogNum ? '(' + release.labelInfo.label[0]?.catalogNum + ')' : '' }}
                         / {{ release.country }}</clr-dg-cell>
                    <clr-dg-cell class="date">{{ release.date }}</clr-dg-cell>
                    <clr-dg-cell class="media">{{ release.media[0].format }}</clr-dg-cell>
                    <clr-dg-cell class="num-tracks" [ngClass]="{'red': release.trackCount !== numTracks}">
                        <span *ngIf="release.media.length > 1">{{ release.media.length }} / </span>
                        {{ release.trackCount }}
                    </clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} releases
                    </clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>
        <div class="release-block" *ngIf="selectedRelease">
            <div class="clr-row">
                <div class="input-field clr-col-10">
                    <label>Album Artist:</label>
                    <input clrInput [(ngModel)]="selectedRelease.artistString" />
                </div>
            </div>
            <div class="clr-row">
                <div class="input-field clr-col-10">
                    <label>Album:</label>
                    <input clrInput [(ngModel)]="selectedRelease.title" />
                </div>
            </div>
            <div class="clr-row">
                <div class="input-field clr-col-3">
                    <label>Release Date:</label>
                    <input clrInput class="small date" [(ngModel)]="selectedRelease.date" />
                </div>
                <div class="input-field clr-col-3">
                    <label class="wide-label">Release Country:</label>
                    <input clrInput class="xsmall" [(ngModel)]="selectedRelease.country" />
                </div>
                <div class="input-field clr-col-4">
                    <label>Catalog #:</label>
                    <clr-select-container>
                        <select clrSelect [(ngModel)]="selectedRelease.labelInfo.selectedCatalog">
                            <option *ngFor="let cat of selectedRelease.labelInfo.catalogNumbers" [ngValue]="cat">
                                {{ cat }}
                            </option>
                        </select>
                        </clr-select-container>
                </div>
            </div>
            <div class="clr-row">
                <div class="input-field clr-col-3">
                    <label>Orig. Rel. Date:</label>
                    <input clrInput class="small date" [(ngModel)]="selectedRelease.releaseGroup.firstReleaseDate" />
                    <button class="guesscase clarity-icon" (click)="copyOriginalReleaseToDate()">
                        <clr-icon shape="arrow"></clr-icon>
                    </button>
                </div>
                <div class="input-field clr-col-3">
                    <label class="wide-label">Release Type:</label>
                    <input clrInput class="small" [(ngModel)]="selectedRelease.releaseGroup.primaryType" />
                </div>
                <div class="input-field clr-col-4">
                    <label>Media:</label>
                    <input clrInput [(ngModel)]="selectedRelease.media[0].format" />
                </div>
            </div>
            <div class="clr-row">
                <div class="input-field clr-col-6">
                    <label>Edition:</label>
                    <input clrInput [(ngModel)]="selectedRelease.disambiguation" />
                    <button class="guesscase" (click)="guessCase('disambiguation')"></button>
                </div>
                <div class="input-field clr-col-4">
                    <label>Status:</label>
                    <input clrInput [(ngModel)]="selectedRelease.status" />
                </div>
            </div>
            <div class="clr-row">
                <div class="input-field clr-col-10">
                    <label>Labels:</label>
                    <input clrInput [(ngModel)]="selectedRelease.labelInfo.allLabels" />
                </div>
            </div>
        </div>
        <div class="selected-release" *ngIf="selectedRelease; else noSelectedRelease">
            <clr-datagrid id="release-datagrid" class="datagrid-compact" *ngIf="selectedRelease">
                <clr-dg-column class="track-num">Track</clr-dg-column>
                <clr-dg-column class="artist" [clrDgField]="'artistString'" *ngIf="selectedRelease.needsArtistCol">
                    Artist Credit
                </clr-dg-column>
                <clr-dg-column [clrDgField]="'title'">Title</clr-dg-column>
                <clr-dg-column *ngIf="hasCovers">Original Artist</clr-dg-column>"
                <clr-dg-column class="time">Time</clr-dg-column>

                <clr-dg-row *clrDgItems="let track of selectedRelease.tracks" [ngClass]="{ 'notfound': track.metadataFoundIndex === -1 }">
                    <clr-dg-cell class="track-num">
                        {{ selectedRelease.tracks.length > 1 ? track.trackDisplay : track.position }}
                        <span *ngIf="track.position != track.number; else showDiscTrack">{{ track.position }} ({{ track.number }})</span>
                        <ng-template #showDiscTrack>
                            <span *ngIf="track.discSet">{{ track.discNumber }}-</span>{{ track.number }}
                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell class="artist" *ngIf="selectedRelease.needsArtistCol">
                        <span *ngIf="track.artistDiffs.length === 0; else showArtistDiffs">{{ track.artistString }}</span>
                        <ng-template #showArtistDiffs>
                            <span *ngFor="let diff of track.artistDiffs"
                                    [ngClass]="{
                                        'equal': diff[0] === diffMatchType.Equal,
                                        'added': diff[0] === diffMatchType.Add,
                                        'removed': diff[0] === diffMatchType.Remove
                                    }">{{ diff[1] }}</span>
                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="track.titleDiffs.length === 0; else showDiffs">{{ track.title }}</span>
                        <ng-template #showDiffs>
                            <span *ngFor="let diff of track.titleDiffs"
                                    [ngClass]="{
                                        'equal': diff[0] === diffMatchType.Equal,
                                        'added': diff[0] === diffMatchType.Add,
                                        'removed': diff[0] === diffMatchType.Remove
                                    }">{{ diff[1] }}</span>
                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell *ngIf="hasCovers">
                        {{ track.originalArtist }}
                    </clr-dg-cell>
                    <clr-dg-cell class="time">{{ track.time }}</clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
        </div>
        <ng-template #noSelectedRelease>
            <div class="selected-release"></div>
        </ng-template>
    </div>
    <footer>
        <div class="btn-container">
            <button class="btn btn-primary" [disabled]="!selectedRelease" (click)="apply(selectedRelease)">Apply to Files</button>
            <a class="btn btn-outline" [routerLink]="'/'">Cancel</a>
        </div>
    </footer>
</div>