<clr-combobox-container class="country-select margin-top-none">
    <clr-combobox [ngClass]="{ 'country-code': useCode }"
            [(ngModel)]="selectedCountries"
            name="countrySelect"
            [clrMulti]="multiSelect"
            (ngModelChange)="updateSelection($event)">
        <ng-container *clrOptionSelected="let selected">
            {{ selected?.name }}
        </ng-container>
        <clr-options>
            <clr-option *clrOptionItems="let country of countryList; field:fieldName"
                    [clrValue]="country"
                    [ngClass]="{'long-name': country.name.length > 20}">
                <span *ngIf="useCode">({{ country.code }}) </span>
                {{ country.name.length > 25 ? country.name.substr(0, 24) + '...' : country.name }}
            </clr-option>
        </clr-options>
    </clr-combobox>
</clr-combobox-container>
