.metadata-handler {
    margin: 6px 0px;

    .clr-col-12 {
        padding-right: 0px;
    }

    button.set-tags {
        width: 110px;
        transition: 1s;

        &.btn-primary {
            transition: 0s;
        }
    }

    button:last-of-type {
        margin-right: 0;
    }
}