<div class="left-wrapper">
	<div class="clr-col-12">
		<metadata-handler></metadata-handler>
		<input-field label="Genre:" [(value)]="metadata.genre"></input-field>
		<input-field label="Comment:" [(value)]="metadata.comment"></input-field>
		<input-field label="Label:" [(value)]="metadata.LABEL"></input-field>
		<input-field label="Edition:" [(value)]="metadata.EDITION"></input-field>
		<input-field label="Catalog #:" [(value)]="metadata.CATALOGNUMBER"></input-field>
		<input-field label="Artist Country:" [(value)]="metadata.ARTISTCOUNTRY"></input-field>
		<input-field label="Release Type:" [(value)]="metadata.RELEASETYPE"></input-field>
		<input-field label="Discnumber:" [(value)]="metadata.partOfSet"></input-field>
		<input-field label="Disc Subtitle:" [(value)]="metadata.DISCSUBTITLE"></input-field>
		<input-field label="Album Artist:" [(value)]="metadata.performerInfo"></input-field>
		<input-field label="Artist Filter:" [(value)]="metadata.ARTISTFILTER"></input-field>
		<input-field label="Copyright:" [(value)]="metadata.copyright"></input-field>
		<input-field label="Encoded By:" [(value)]="metadata.encodedBy"></input-field>
		<input-field label="Original Artist:" [(value)]="metadata.originalArtist"></input-field>
		<input-field label="Album Sort:" [(value)]="metadata.albumSortOrder"></input-field>
		<input-field label="Artist Sort:" [(value)]="metadata.artistSortOrder"></input-field>
	</div>
</div>