.clr-row .inline:not(:last-of-type) {
    padding-right: 0;
}

.clr-row .inline:not(:first-of-type) {
    padding-left: .25rem;
}

.flex-container {
    display: flex;
    flex-direction: row;

    input-field {
        flex-grow: 1;
    }

    button {
        margin: 0 0 0 .25rem;
    }

    .inline-button {
        margin-top: 4px;
        cursor: pointer;
    }
}

::ng-deep input-field {
    input {
        width: 0%;
    }
}

.input-fields {
    padding-left: 0px;
}