.app-wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    .content {
        padding: 0.5em;
    }
    footer {
        padding: 0.5em;
    }
}