<div class="app-wrapper">
	<div class="clr-row">
		<renamer-grid class="clr-col-12"
			[showArtist]="showArtist"
			[tracks]="tracks">
		</renamer-grid>
	</div>
	<div class="clr-row">
		<left-panel [tracks]="tracks"></left-panel>
	</div>
	<request-files></request-files>
	<metadata-handler></metadata-handler>

	<div class="container">
		<clr-checkbox
				name="showArtistToggle"
				id="showArtistToggle"
				[(ngModel)]="showArtist">
			Toggle Track Artists
		</clr-checkbox>
	</div>
</div>
