<div class="app-wrapper">
	<header class="header header-5">
		<div class="branding">
			<a href="#" class="nav-link">
				<clr-icon shape="library"></clr-icon>
				<span class="title">MP3 Renamer2</span>
			</a>
		</div>
	</header>
	<div class="content">
		<div class="clr-row">
			<renamer-grid class="clr-col-12"
				[showArtist]="showArtist"
				[tracks]="tracks">
			</renamer-grid>
		</div>
		<request-files></request-files>
		<div class="clr-row">
			<left-panel [tracks]="tracks"></left-panel>
		</div>
		<metadata-handler></metadata-handler>

		<div class="container">
			<clr-checkbox
					name="showArtistToggle"
					id="showArtistToggle"
					[(ngModel)]="showArtist">
				Toggle Track Artists
			</clr-checkbox>
		</div>
	</div>
	<footer>
		<button class="btn btn-outline">Preview Names</button>
	</footer>
</div>
