<div class="app-wrapper">
	<header class="header header-5">
		<div class="branding">
			<a href="#" class="nav-link">
				<clr-icon shape="library"></clr-icon>
				<span class="title">{{ title }}</span>
			</a>
		</div>
		<div class="header-actions">
			<a [routerLink]="" class="nav-link nav-icon" aria-settings="Open Folder" [ngClass]="{ 'hidden': !tracks.length }" (click)="openFolder()">
				<clr-icon shape="folder-open"></clr-icon>
			</a>
			<a [routerLink]="'/preferences'" class="nav-link nav-icon" aria-label="preferences">
				<clr-icon shape="cog"></clr-icon>
			</a>
		</div>
	</header>
	<router-outlet></router-outlet>
</div>
