.app-wrapper {
    min-height: 100%;
    background-color: white;

    .header {
        .branding {
            flex: 1 0 auto;
            max-width: calc(100% - 3rem); // 3rem per icon

            .nav-link {
                flex: 1 0 auto;
                max-width: 100%;

                span.title {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &:hover {
                    cursor: default;
                }

                &.has-tracks:hover {
                    cursor: pointer;

                    span {
                        text-decoration: underline;
                        color: white;
                    }
                }
            }
        }
        .header-actions {
            flex: 1 0 auto;
        }
    }
}