clr-tabs {
    width: 100%;

    ::ng-deep ul {
        margin-bottom: 0.5rem;
    }

    .tab-badge {
        display: inline-block;
        position: relative;
        top: -3px;
        left: 0px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: red;
        padding: 0;

        &.green {
            background: green;
        }

        &.blue {
            background: blue;
        }

        &.hide {
            background: transparent;
        }
    }
}

.clr-row {
    .inline:not(:last-of-type) {
        padding-right: 0;
    }
    .inline:not(:first-of-type) {
        padding-left: .25rem;
    }

    .clr-col-6dot5 {
        flex: 0 0 54%;
        max-width: 54%;
        padding-left: .6rem;
    }

    .clr-col-5dot5 {
        flex: 0 0 46%;
        max-width: 46%;
        padding-left: .6rem;
        padding-right: .6rem;
    }
}


.flex-container {
    display: flex;
    flex-direction: row;

    input-field {
        flex-grow: 1;
    }

    button {
        margin: 0 0 0 .25rem;

        &:not(:first-of-type) {
            margin-left: 1px;
        }
    }

    .inline-button {
        margin-top: 4px;
        cursor: pointer;
    }

    .btn-xs {
        padding: 0 0px;
        width: auto;
        min-width: 20px;
        font-size: 9px;

        &.icon-btn {
            padding: 0 2px;
        }

        .mb-icon {
            width: 20px;
            height: 20px;
            margin-top: -3px;
        }
    }

    .btn-spacer {
        min-width: 27px;
    }
}

::ng-deep input-field {
    input {
        width: 0%;
    }
}

.input-fields {
    padding-left: 0px;
}