<div class="input-field" *ngIf="value">
	<input type="checkbox" clrCheckbox *ngIf="!readOnly" [(ngModel)]="value.overwrite">
	<label [ngStyle]="labelStyle" (click)="showConflictValues()">
		<ng-container *ngIf="value.different">
			<clr-icon shape="info-circle" size="20"
				[ngClass]="{ 'is-error': !value.defaultChanged }">
			</clr-icon>
		</ng-container>
		<clr-icon shape="check" size="20" *ngIf="!value.different"></clr-icon>
		{{ label }}
	</label>
	<div class="data-field">
		<ng-container [ngSwitch]="inputType">
			<input *ngSwitchCase="inputTypes.Input"
				clrInput
				[value]="value.default"
				(focus)="$event.target.select()"
				[disabled]="readOnly"
				[ngClass]="{ 'dont-overwrite': !value.overwrite }"
				(input)="defaultValChanged($event.target.value)">
			<select *ngSwitchCase="inputTypes.Select"
					clrSelect
					[ngModel]="value.default"
					[ngClass]="{ 'dont-overwrite': !value.overwrite }"
					(input)="defaultValChanged($event.target.value)">
				<option *ngFor="let option of selectOptions" [value]="option">
					{{ option }}
				</option>
			</select>
			<textarea *ngSwitchCase="inputTypes.Textarea"
				clrTextarea
				[value]="value.default"
				(focus)="$event.target.select()"
				(input)="defaultValChanged($event.target.value)">
			</textarea>
			<genre-select *ngSwitchCase="inputTypes.Genre"
				[genres]="value.default"
				(genreSelected)="defaultValChanged($event)">
			</genre-select>
			<!-- multi value switch case: https://stackoverflow.com/a/62407528/911192 -->
			<country-select *ngSwitchCase="[inputTypes.Country, inputTypes.CountryCode].includes(inputType) ? inputType : !inputType"
				[countries]="value.default"
				[multiSelect]="inputType === inputTypes.Country"
				[useCode]="inputType === inputTypes.CountryCode"
				(countrySelected)="defaultValChanged($event)">
			</country-select>
		</ng-container>
	</div>
</div>
