<div class="input-field" *ngIf="value">
	<clr-checkbox-container>
		<clr-checkbox-wrapper>
			<input type="checkbox" clrCheckbox [(ngModel)]="value.overwrite">
			<label [ngStyle]="labelStyle">
				<ng-container *ngIf="different">
					<clr-icon shape="info-circle" class="is-error" size="20" (click)="showValues = true"></clr-icon>
				</ng-container>
				<clr-icon shape="check" size="20" *ngIf="!different"></clr-icon>
				{{ label }}
			</label>
		</clr-checkbox-wrapper>
	</clr-checkbox-container>
	<div class="conflict-list" *ngIf="showValues">
		<div class="header-row">
			<span class="property">{{ label }}</span>
			<button class="btn btn-link btn-sm edit-btn" (click)="editValues = !editValues">
				{{ editValues ? 'Select' : 'Edit' }}
			</button>
			<button class="btn btn-link btn-sm close-btn" (click)="showValues = false">
				<clr-icon shape="window-close" size="16"></clr-icon>
			</button>
		</div>
		<ol class="property-list" *ngIf="!editValues">
			<li *ngFor="let val of value.values" class="conflict-item" (click)="selectValue(val)">{{ val }}</li>
		</ol>
		<ol class="editable-list" *ngIf="editValues">
			<li *ngFor="let val of value.values" class="edit-item">
				<!-- ngModel?? -->
				<input [value]="val">
			</li>
		</ol>
	</div>
	<div class="data-field">
		<input clrInput
			*ngIf="!selectOptions"
			[value]="value.default"
			(focus)="$event.target.select()"
			(input)="defaultValChanged($event.target.value)">
		<select *ngIf="selectOptions" [ngModel]="value.default" (input)="defaultValChanged($event.target.value)">
			<option *ngFor="let option of selectOptions" [value]="option">
				{{ option }}
			</option>
		</select>
	</div>
</div>
