.content {
    padding: 0.5em;

    .panel {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }
    left-panel {
        flex: 0 0 48%;
        max-width: 48%;
    }
    right-panel {
        flex: 0 0 52%;
        max-width: 52%;
    }
}

footer {
    padding: 0.5em 0.5em .75em 0.5em;
    display: flex;

    .btn-container {
        flex-grow: 1;

        &:last-of-type {
            flex-grow: 0;
        }

        button {
            margin-right: .25rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}