.content {
    padding: 0.5em;
}

footer {
    padding: 0.5em 0.5em .75em 0.5em;
    display: flex;

    .btn-container {
        flex-grow: 1;

        &:last-of-type {
            flex-grow: 0;
        }

        button {
            margin-right: .25rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}