@import 'variables.scss';

// color overrides
:root {
    --clr-combobox-pill-border-color: #cccccc;
    --clr-forms-border-color: #aaaaaa;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url(./assets/fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
}

body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif !important;
    --clr-header-5-bg-color: hsl(198, 100%, 24%) !important;
}

header.header {
    height: $headerHeight;

    .branding {
        height: $headerHeight;
        .nav-link {
            height: $headerHeight;
        }
    }

    .header-actions {
        height: $headerHeight;
        .nav-link {
            height: $headerHeight;
        }
    }
}

.main-wrapper {
    height: calc(100vh - #{$headerHeight});
    // max-height: calc(100vh - #{$headerHeight});
    display: grid;
    grid-template-rows: 1fr 2.9rem;
    grid-template-columns: 100%;
    overflow: hidden;
}

.red {
    color: red !important;
}

.margin-top-none {
    margin-top: 0 !important;
}

.hidden {
    display: none !important;
}

.clr-combobox-options .clr-combobox-option {
    padding: 0.15rem 0.75rem;

    &.long-name {
        letter-spacing: -0.3px;
    }
}

.clr-combobox-wrapper {
    padding-left: 3px;
    padding-right: 22px; // shrink due to smaller caret size
    border-bottom: 1px solid $border-color;

    .clr-combobox-trigger {
        padding-left: 5px;
        padding-right: 5px;

        cds-icon[shape='angle'],
        clr-icon[shape='angle'] {
            width: $override-caret-icon-size;
            height: $override-caret-icon-size;
            min-width: $override-caret-icon-size;
            min-height: $override-caret-icon-size;
        }
    }

    .label-combobox-pill {
        margin-right: 0.2rem;

        .clr-combobox-pill-content {
            padding-right: 2px;
        }
    }
}

.clr-textarea {
    border: 1px solid $border-color;
}

.clr-input {
    border-bottom: 1px solid $border-color;
}

.clr-select-wrapper select {
    border-bottom: 1px solid $border-color;

    &:hover {
        border-color: $border-color;
    }
}

.clr-checkbox-wrapper .clr-control-label {
    padding-left: 22px;
}

.btn {
    font-weight: 500; // stop chonky fonts
}

clr-datagrid.datagrid-compact {
    .datagrid .datagrid-column,
    .datagrid .datagrid-cell {
        padding-left: 10px;
        padding-right: 10px;
    }

    .datagrid .datagrid-cell {
        font-size: 12px;
    }
}

button.guesscase {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAY1BMVEWXl5eXl5eXl5eXl5eXl5eXl5eXl5eXl5eXl5cXFxciIiIvLy88PDxKSkpQUFBZWVlcXFxpaWl2dnZ6enqEhISMjIySkpKenp6vr6+wsLC/v7/Pz8/W1tbf39/q6uru7u7////o0SZmAAAACXRSTlPZ3N3g6+/w8/SnvyacAAAAaUlEQVR4AVXIXRKCIBSA0VtJP0EiGaQk9u1/lTlMznDP45GTUY5yQTFi2Mwrf12N5RZ1hNHqsLiljbcnjm1459y9idUCj5lpCKVGDED0vL5TqrHLKaj4PMkqSp/6oQ1KJm9xRTnLoVPkB1q2Fx1xZ3hdAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-color: white;
    width: 16px;
    height: 16px;
    min-width: 16px;
    border: none;
    padding: 0;
    margin: 0.2rem 0 0 0.25rem;
    cursor: pointer;
}
