$headerHeight: 2.5rem;

.main-wrapper {
    height: calc(100vh - #{$headerHeight});
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    overflow-x: hidden;
}

.red {
    color: red !important;
}