.genre-select ::ng-deep {
    clr-combobox {
        max-width: 100%;
    }

    .clr-combobox-wrapper {
        background-color: white;
        margin-top: -2px;
        border-top: none;
        border-left: none;
        border-right: none;
        // white-space: nowrap;

        .clr-combobox-input {
            padding-left: 0px;
            padding-right: 0px;
            width: 0px;

            &:focus {
                padding-left: 0.15rem;
                width: 4.5rem;
            }
        }

        &.multi {
            // width: 100%;
            // width: 345px;
            // overflow-x: scroll;
            min-width: 100%;
            padding-bottom: 1px;
            padding-left: 0;
        }
    }
}

.guess-btn {
    margin: 0;
    position: absolute;
    top: -1px;
    right: 1.25rem;
}